@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

*{
    padding: 0;
    margin: 0;   
}
body{
    background:radial-gradient(#203644,#000000);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 2vw;
}

header{
    top: 0;
    left: 0;
    padding: 0px;
    height: auto;
    margin-top: 10px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    background-size: cover;
    z-index: 10;
}
header img{
    width: 5vw;
    float: left;
    margin: 7px 5px 0px 10px;
}
.clock {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 2px 2px 2px 8px;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 7px;
    background: linear-gradient(#203644,#203644,#000000);
    border: ridge 1px #2f344179;
    border-radius: 5px;
}
h1{
    font-family: 'Inknut Antiqua', serif;
    font-size: 2.5vw;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0.1vw;
    margin-left: 4vw;
}
#blason{
    margin: 0;
    padding: 0;
}





/*nav*/
.actif, .lien:hover{
    color: white;
    text-shadow: 1px 1px 5px #ffffff;
}
a{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f3eee8;
    text-decoration: none;
    font-size: 1.3em;
    padding: 2px 10px 2px 10px;
    margin-top: 5px;
    margin-bottom: 5px; 
}
#liensmentions{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f3eee8;
    text-decoration: none;
    background: none;
}
nav{
    background: linear-gradient(#203644,#000000);
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #09131a;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 95vw;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
}



/*corps code "général"*/
.corps{
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2vw;
    margin-top: 0;
}
p{
    text-indent: 3vw;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
p::first-letter {
    font-family: 'Inknut Antiqua', serif;
    font-size: 150%;
    font-weight: bold;
    line-height: 0.9em;
} 
.paragraphe{
    margin-bottom: 20px;
}
h2{
    font-family: 'Inknut Antiqua', serif;
    font-size: 2vw;
    width: auto;
    text-align: center;
    background: linear-gradient(#203644,#000000);
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
    clear: both;
}
.contenu{
    margin-top: 0px;
    padding: 20px 40px 20px 40px;
    background-color: #ffffff;
    overflow: auto;
}






/*index*/
#vitrailsaintlouis{
    width: 15vw;
    float: right;
    margin: 10px 15px 10px 15px;
}
.parallax { 
    background-image: url("images/UI/bataille-de-bouvines.jpg");
    height: 90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Diaporama*/
.slideshow-container {
    box-shadow: inset #2f344179 0px 0px 20px 10px;
    position: relative;
    top: 1vw;
    border: solid 1px #2f344179;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.slideshow-container img{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* cache les images par défaut */
.mySlides {
  display: none;
}
/* Flèches directionnelles */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: #2f344179;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 0 50% 50% 0;
}
/* mettre la flèche droite à droite */
.next {
  right: 0;
  border-radius: 50% 0  0 50%;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* titres */
.text {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  padding: 4px 8px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}





/*Hugues Capet*/
#capet img{
    float: left;
    width: 30vw;
    margin-right: 20px;
    margin-bottom: 5px;
}




/*Philippe Auguste*/
#auguste img{
    float: right;
    width: 23vw;
    margin-left: 20px;
    margin-bottom: 5px;
}




/*Louis IX*/
#louisix img{
    float: left;
    width: 33vw;
    margin-right: 20px;
    margin-bottom: 5px;
}



/*Philippe le Bel*/
#lebel img{
    float: right;
    width: 25vw;
    margin-left: 20px;
    margin-bottom: 5px;
}




/* Formulaire */
.formulaire{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.formulaire #labelnom{
    margin-top: 10vh;
}
.formulaire label{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px;
}
#formulaire h2{
    margin-bottom: 20px;    
}
input {
    width: 25vw;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: aliceblue;
}
input[type=submit] {
    box-shadow: #9488769d 2px 2px 2px;
    font-size: 1em;
    text-align: center;
    background-color: rgb(104, 107, 104);
    color: white;
    padding: 14px 20px;
    margin-top: 10vh;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}  
input[type=submit]:hover {
    background-color: #a05345;
}
#capetform{
    float: right;
    height: 70vw;
}
#lebelform{
    float: left;
    height: 70vw;
}






/*Mentions légales*/
#mentions p{
    text-indent: 0;
}
#mentions p::first-letter {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: unset;
    line-height: 1em;
}





/*footer*/
footer{
    background: linear-gradient(#000000, #203644);
    text-align: right;
    position: fixed;
    bottom: 0; left: 0; right: 0;
}

footer a{
    font-size: 1em;
}



#up{
    z-index: 1;
    display: block;
    cursor: pointer;
    position:fixed;
    width: 42px;
    height: 42px;
    right: 15px;
    background-color: #5e5e5e71;
    border-radius: 50%;
}
#up p{
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-indent: 0;
    margin-left: 2px;

}
#up a{
    z-index: 10;
    color: white;
}
#up:hover{
    background-color: #414141b7;
}







/*Version Responsive*/

@media screen and (max-width:950px){ 
    .corps{
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 20px;
        padding: 0 10px;
    }
    p{
        text-indent: 1.2em;
        text-align: justify;
        margin: 0vw;
        padding-top: 1em;
    }
    input[type=submit] {
        padding: 5px;
        margin: 0px;
        width: 20vw;
        margin-top: 0vh;
        margin-left: auto;
        margin-right: auto;
    }
    .formulaire label{
        margin-top: 0px;
    }
    .formulaire #labelnom{
        margin-top: 2vh;
    }
    input[type=submit]:hover {
        background-color: #a05345;
    }
    #capetform{
        float: right;
        height: 70vw;
    }
    #lebelform{
        float: left;
        height: 70vw;
    }

    a{
        font-size: 1.2em;
    }
    p::first-letter {
        font-family: 'Inknut Antiqua', serif;
        font-size: 120%;
        font-weight: bold;
        line-height: 0.9em;
    }
    #vitrailsaintlouis{
        width: 30vw;
        float: right;
    }
    .parallax { 
        height: 90vh; 
    }
    .slideshow-container {
        box-shadow: inset #2f344179 0px 0px 20px 10px;
        top: 1vw;
        float: unset;
        margin: 0px;
    }
    .slideshow-container img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #capet img{
        width: 50vw;
    }
    #auguste img{
        width: 50vw;
    }
    #louisix img{
        width: 50vw;
    }
    #lebel img{
        width: 40vw;
    }
}


@media screen and (max-width:785px){

    /*burger*/
    .actif, .lien:hover{
        background-color: #1c19bb9d;
        color: white;
    }
    a{
        margin:0;
    }
    .header-menu{
        position: fixed;
        right: 0px;
        margin: 0px;
        opacity: 0;
        z-index: 10;
        transition: .1s;
        display: none;
    }
    .header-menuOpen{
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        opacity: 1;
        transition: .1s;
        flex-direction: column;
        z-index: 1;
        top: 60px;
        right: 10px;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-6px, 3px);
        transition: .1s;
    }
    .toggle .line2{
        opacity: 0;
        transition: .1s;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-6px, -3px);
        transition: .1s;
    }
    .burger{
        z-index: 8;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 30px;
        display: block;
        cursor: pointer;
    }
    .burger div{
        width: 100%;
        background: royalblue;
        height: 3px;
        margin: 3px;
    }
    .clock {
        z-index: 10;
        position: absolute;
        top: 20px;
        right: 60px;
    }
    input[type=submit] {
        padding: 5px;
        margin: 0px;
        width: 18vw;
        margin-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .formulaire label{
        margin-top: 0px;
        font-size: 0.8em;
    }
    .formulaire #labelnom{
        margin-top: 2vh;
    }
    input[type=submit]:hover {
        background-color: #a05345;
    }
    input {
        width: 25vw;
        padding: 5px 5px;
        margin: 2px 0;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: aliceblue;
    }
    .formulaire{
        margin-left: 0%;
        margin-right: 0%;
    }
    .formulaire label{
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 0px;
    }
    input {
        width: 100%;
        padding: 5px 5px;
        margin: 0px 0;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: aliceblue;
    }
    input[type=submit] {
        font-size: 0.9em;
        text-align: center;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

    }
    #capetform{
        margin-left: 5px;
    }
    #lebelform{
        margin-right: 5px;
    }
    h1{
        font-size: 1.3em;
        margin-bottom: 0;
        margin-top: 20px;
    }    

}

@media screen and (max-width:635px){
    .clock {
        top: 8px;
        right: 8px;
        padding: 3px 3px 3px 10px;
        font-size: 10px;
        letter-spacing: 7px;
    }
    header img{
        width: 40px;
        float: left;
        margin: 0px 5px 0px 10px;
    }
    .header-menu{
        top: 50px;
        right: 10px;
    }
    .header-menuOpen{
        margin-top: 30px;
    }
    .burger{
        width: 25px;
        display: block;
        top: 40px;
        right: 10px;
    }
    .formulaire{
        margin-left: 10%;
        margin-right: 10%;
    }
    #capetform{
        display: none;
    }
    #lebelform{
        display: none;
    }
    #formulaire h2{
        font-size: 1em;
    }
    h1{
        font-size: 0.9em;
    }
    h2{
        font-size: 1em;
    }
    .corps{
        margin-left: auto;
        margin-right: auto;
        width: 85vw;
    }
    p{
        text-indent: 3vw;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.7em;
    }
    .contenu{
        padding: 20px 10px 20px 10px;
        background-color: #ffffff;
        overflow: auto;
    }
    .parallax { 
        display: none;
    }
}
@media screen and (max-width:450px){
    #vitrailsaintlouis{
        width: 90%;
        float: unset;
        margin-right: auto;
    }
    #capet img{
        float: unset;
        width: 100%;
    }
    #auguste img{
        float: unset;
        width: 99%;
        margin: 0 0 0 1%;
    }
    #louisix img{
        float: unset;
        width: 100%;
    }
    #lebel img{
        float: unset;
        width: 99%;
        margin: 0 0 0 1%;
    }
    #mentions h2{
        font-size: 0.9em;
    }
}